.navbar {
	position: absolute;
	margin-bottom: 0px;
	min-height: 0px;
	display: inline-flex;
}

.navbar-static-top {
	top: 22px;
	border: 0;
}

.layout {
	top: 80px;
	height: 100%;
}

.stencil-container {
   position: relative;
   height: 95%;
   float:left;
   width: 260px;
   bottom: 0;
   left: 0;
   right: 0;
/*    top: 80px; */
   border: 1px solid #e7e7e7;
}

.btn-expand {
	margin-left: 5px;
}

.btn-expand, .btn-collapse, .stencil {
	display: inline;
	margin-top: -20px;
}

.paper-container {
   	position: absolute;
	top: 40px;
  	left: 0;
  	right: 0;
  	bottom: 10px;
  	overflow: hidden;
}

.paper-scroller {
	padding-left: 10px;
}

.paper {
	top: 10px;
}

#tabs {
	height: 100%;
  	font-size: 13px;
}

.inspector-container {
	display: none;
}

.inspector-paper {
	border-top: 1px solid #e7e7e7;
}

