.navbar {
	position: absolute;
	margin-bottom: 0px;
	min-height: 0px;
}

.navbar-static-top {
	top: 22px;
	border: 0;
}

.stencil-container {
   position: relative;
   height: 95%;
   float:left;
   width: 260px;
   bottom: 0;
   left: 0;
   right: 0;
   top: 80px;
   border: 1px solid #e7e7e7;
}

.btn-expand {
	margin-left: 5px;
}

.btn-expand, .btn-collapse, .stencil {
	display: inline;
	margin-top: -20px;
}

#tabs{
	position: relative;
	height: 100%;
	width:auto; 
  	bottom: 0;
  	font-size: 13px;
  	overflow:hidden;
}

#wrapper {
	position: relative;
	top: 80px;
	float:left; 
	width: calc(100% - 260px);
	height: 100%;
}

.paper-container {
   	position: absolute;
	top: 40px;
  	left: 0;
  	right: 0;
  	bottom: 10px;
  	overflow: hidden;
}


.inspector-paper-container {
	position: relative;
	height: 98%;
	width: 20%;
	max-width: 60%;
	float: left;
}

