@media (min-width: 768px) {
	.navbar-header {
	  float: none;
	}
} 

@media (max-width: 768px) {
	nav.sidebar {
		top: 65px;
	}
}

.navbar {
	min-height: 55px;
}

.attributes textarea {
   -webkit-box-sizing: initial;
   width: 200px;
   color: #000;
   border: 1px solid rgb(231, 231, 231);
   border-radius: 2px;
   height: 20px;
   line-height: 20px;
}

.attributes label {
	vertical-align: super;
}