html, body{
	height: 100%;
	width: 100%;
	max-width: 100%;
	background-color: #f8f8f8;
}

tabs-one-line .scroller { 
    overflow: auto; 
} 
tabs-one-line ul { 
    width: 1660px; 
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: pointer;
}

.navbar-nav > li > a {
	padding-top: 0px;
	padding-bottom: 0px;
}

/* ICON STENCIL */
.glyphicon-align-justify {
	margin-top: 130px;
}

/* ICON INSPECTOR */
#inspector-icon {
	outline: 0;
	float: right;
	color: black;
	font-size: 24px;
	font-style: normal;
	margin-top: -162px;
	margin-right: 260px;
}

 .ui-icon-close {
/*  	position: absolute; */
 	float: left; 
 	margin: 0.6em 0.2em 0 0;
   	cursor:pointer;
 }

@media (min-width: 768px) {
	.navbar-header {
	  float: none;
	}
} 

.attributes textarea {
   -webkit-box-sizing: initial;
   width: 270px;
   color: #000;
   border: 1px solid rgb(231, 231, 231);
   border-radius: 2px;
/*    height: 20px; */
   line-height: 20px;
}

.dialog .attributes label {
	padding: 0;
	vertical-align: super;
}

#layer-container {
    margin: 0px;
    padding: 0px;
    width: 32px;
    left: 0px;
    position: absolute;
}

#layer-container {
	overflow: hidden;
	padding: 6px;
    width: 32px;
    height: 400px;
    cursor:pointer;
    transition: width 0.1s ease-in-out;
    background-color: white;
    border: 1px solid #cccccc;
}

#layer-container:hover {
	width:200px;
}

.connection-container, .connection-container tr, .connection-container th, .connection-container td {
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid #e7e7e7;
}

.connection-container td {
	cursor: pointer;
}

.connection-container td:hover {
	background-color: #e7e7e7;
}