html, body{
	height: 100%;
	width: 100%;
	max-width: 100%;
	background-color: #f8f8f8;
}

.moveable {
    margin: 0px 10px 0px 0;
    background:#FFFFFF;
        overflow:hidden;
/*     border: 1px solid black; */
}

.ui-resizable-e {
	width: 10px;
}

.navbar-nav > li > a {
	padding-top: 0px;
	padding-bottom: 0px;
}

/* ICON STENCIL */
.glyphicon-align-justify {
	margin-top: 130px;
}

/* ICON INSPECTOR */
#inspector-icon {
	outline: 0;
	float: right;
	color: black;
	font-size: 24px;
	font-style: normal;
	margin-top: -162px;
	margin-right: 260px;
}

 .ui-icon-close {
/*  	position: absolute; */
 	float: left; 
 	margin: 0.6em 0.2em 0 0;
   	cursor:pointer;
 }

@media (min-width: 768px) {
	.navbar-header {
	  float: none;
	}
} 

.attributes textarea {
   -webkit-box-sizing: initial;
   width: 270px;
   color: #000;
   border: 1px solid rgb(231, 231, 231);
   border-radius: 2px;
/*    height: 20px; */
   line-height: 20px;
}

.dialog .attributes label {
	padding: 0;
	vertical-align: super;
}