.btn-viewpoint {
/* 	position: absolute; */
/* 	left: 60px; */
	top: -20px;
	width: 90%;
	display: inline;
}

.stencil.searchable > .content {
  top: 60px;
}

.btn-viewpoint .select-viewpoint {
	font-size: 10px;
	margin-left: 5px;
}	

.btn-viewpoint label {
	font-size: 10px;
	color: black;
	margin-left: 5px;	
}